<!DOCTYPE html>
<html>
<head>
  <title>MediaElementAddToPlaylist</title>
  <%= stylesheet_link_tag    "media_element_add_to_playlist/application", media: "all" %>
  <%= javascript_include_tag "media_element_add_to_playlist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
